#myTab {
    font-size: larger;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read {
    padding: 0;
    height: 100%;
}

.simpleFooterContainer-153 {
    display: none;
}

.simpleFooterContainer-160 {
    display: none;
}

.spAppAndPropertyPanelContainer .sp-appBar {
    background: #f3f2f1;
    display: none;
    min-width: 47px;
}

.l_b_beed2cf1 {
    display: none;
}

#CommentsWrapper {
    display: none;
}

#spCommandBar {
    display: none;
}

.breadcrumb>li>a {
    color: #f3f2f1;
    text-decoration: none;
}

.breadcrumb>li>a:hover {
    color: #f54630;
    text-decoration: none;
}

.webPartContainer {
    display: none;
}

#breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #004a8e;
    border-radius: 4px;
    /* color: white; */
}

.r_b_beed2cf1,
.s_b_beed2cf1 {
    position: relative;
    z-index: 7;
    display: none;
}

#h2_doc_title {
    padding: inherit;
    padding-left: 2em;
}

#view_doc {
    padding-right: 3em;
}

.hb_u_9f38462c {
    position: relative;
    display: none;
}



.hb_af_9f38462c {
    display: none;
}

.x_c_ada2ac09 {
    display: none;
}

.btn {
    display: inline-block;
}

h3 {
    font-weight: 600;
}

.mt_ba_ada2ac09 {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: none;
}

.hb_s_9f38462c {
    position: relative;
    display: none;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#switch_fav{
    display: inline-block;
    max-width: 100%;
    margin-bottom: -4px;
    font-weight: 700;
    margin-left: 0.5em;
}