#myTab {
    font-size: larger;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read {
    padding: 0;
    height: 100%;
}

.simpleFooterContainer-153 {
    display: none;
}

.simpleFooterContainer-160 {
    display: none;
}

.l_b_beed2cf1 {
    display: none;
}

#CommentsWrapper {
    display: none;
}

#spCommandBar {
    display: none;
}

.hb_af_9f38462c {
    display: none;
}

.x_c_ada2ac09 {
    display: none;
}

.btn {
    display: inline-block;
}

h3{
    font-weight: 600;
}