#myTab {
    font-size: larger;
}


.breadcrumb>li>a {
    color: #f3f2f1;
    text-decoration: none;
}

.breadcrumb>li>a:hover {
    color: #f54630;
    text-decoration: none;
}

#breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #004a8e;
    border-radius: 4px;
    /* color: white; */
}

#h2_doc_title {
    padding: inherit;
    padding-left: 2em;
}

#view_doc {
    padding-right: 3em;
}

.btn {
    display: inline-block;
}

h3 {
    font-weight: 600;
}



/* .star-grey {
    color: grey;
}

.star-gold {
    color: gold;
} */

.star-icon {
    color: gold;
}

.loader1 {
    /* position the loader */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display the loading indicator */
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

#splistDocAudit button {
    width: 6em;
    background-color: #f54630;
}


/* #input_filename_group, #created_by_group, #updated_time_group, #updated_by_group {
    display: none;
  } */

#input_filename_group,
#updated_time_group,
#updated_by_group {
    display: none;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    overflow-x: auto;
}

.spinner {
    position: absolute;
    width: 9px;
    height: 9px;
 }
 
 .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #474bff;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
 }
 
 .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
 }
 
 .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
 }
 
 .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
 }
 
 .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
 }
 
 .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
 }
 
 .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
 }
 
 .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
 }
 
 .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
 }
 
 .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
 }
 
 .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
 }
 
 @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
 
    50% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
 }


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#logoGedBeat{
    transform: scale(1);
    animation: pulsate 1.5s ease-in-out infinite;
}


@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }