.mb-4 {
    text-align-last: center;
}

.flexContainer-95 {
    color: white;
}

span:hover{
    color: rgb(212, 189, 43);

}

#form_metadata label {
    margin: 2em;
}

#view {
    color: black;
}

#h2_title, #h2_folderName{
    padding-bottom: 1em;
}

#view, #add_group, #add_subfolder {
    margin-top: 34px
}
