.mb-4 {
    text-align-last: center;
}

.flexContainer-95 {
    color: white;
}

.treeView_91515d42 .treeSelector_91515d42>button {
    height: 20px;
    width: 20px;
    padding: 0;
    color: ivory;
}

span:hover{
    color: rgb(212, 189, 43);

}

.update_details_doc{
    float: right;
}

#form_metadata label {
    margin: 2em;
}

#view {
    color: black;
}

#h2_title, #h2_folderName{
    padding-bottom: 1em;
}

#view, .add_group, .add_subfolder {
    margin-top: 34px
}
