.sidebar {
  width: auto;
  background-color: rgba(0,74,142,.9294117647058824);
  color: #fff;
  height: 80vh;
  font-size: medium;
  overflow-y: auto;
  /* top: 5rem; */
}

form label {
  margin-right: 2em;
}

#input_url {
  width: 50em;
}

#form_metadata label {
  margin: 0.5em;
  font-weight: bolder;
}

#form_metadata {
  margin: 2em;
  height: 100%;
  padding: 2em;
  /* border: groove; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2em;
}

button {
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  font-size: x-large;
}

#tree {
  height: 100%;
}

.my-treeview {
  height: 100%;
  overflow-y: auto;
  white-space: nowrap;
}

#nom_doc{
  width: 10em;
}

#desc_doc{
  width: 49em;
}

label.ms-Label.root-155 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

select#permissions_user, select#permissions_group {
  padding: 6px 12px;
}

@media (min-width: 576px) {
  .my-treeview {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 75px); /* adjust as needed */
  }
}


.loader2 {
  /* position the loader */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display the loading indicator */
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}




