
#spSiteHeader {
  display: none;
}
#spCommandBar {
  display: none;
}
.webPartContainer{
    display: none!important;
}
#spLeftNav{
    display:none; 
}
#sp-appBar{
  display:none; 
}
.i_a_beed2cf1 {
  position: relative;
  z-index: 7;
  display: none;
}
.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read {
  padding: 0px;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read > div {
  width: 100%;
  display: flex;
  max-width: 100%;
}

.CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection--read.CanvasSection-xl12 {
  padding: 0px;
}

.CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection--read.CanvasSection-xl12 > div {
  padding: 0px;
  margin: 0px;
}


.sidebar {
  width: auto;
  background-color: rgba(0,74,142,.9294117647058824);
  color: #fff;
  height: 80vh;
  font-size: medium;
  overflow-y: auto;
  /* top: 5rem; */
}

form label {
  margin-right: 2em;
}

#input_url {
  width: 50em;
}

#form_metadata label {
  margin: 0.5em;
  font-weight: bolder;
}



.simpleFooterContainer-213 {
  background-color: rgb(3, 120, 124);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
  display: none;
}

.simpleFooterContainer-207 {
  background-color: rgb(3, 120, 124);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
  display: none;
}



.simpleFooterContainer-220 {
  background-color: rgb(3, 120, 124);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
  display: none;
}

#form_metadata {
  margin: 2em;
  height: 100%;
  padding: 2em;
  /* border: groove; */
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2em;

}

button {
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  font-size: x-large;
}

#tree {
  height: 100%;
}

.my-treeview {
  height: 100%;
  overflow-y: auto;
  white-space: nowrap;
}

#nom_doc{
  width: 10em;
}

#desc_doc{
  width: 49em;
}

label.ms-Label.root-155 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

select#permissions_user, select#permissions_group {
  padding: 6px 12px;
}

@media (min-width: 576px) {
  .my-treeview {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 75px); /* adjust as needed */
  }
}




