.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

#form_metadata label {
    margin: 0.5em;
}

#subfolders_form,
#edit_details {
    display: none;
}

#update_details {
    float: right;
}

.scp-breadcrumb {
    margin: 2px;
}

#access_form {
    display: none;
}

#doc_details_add{
    display: none;
}

#nav {
    font-size: large;
}

.breadcrumb breadcrumb-item li+li:before {
    padding: 8px;
    content: "";   
}

.breadcrumb{
    --bs-breadcrumb-divider-color: #f8f9fa;
}

.image img {
    float: left;
    padding-right: 16px;
}

#update_details_doc{
    display: none;
    float: right;

}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}